.container {
	/*
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	*/
}
#nameText{
	position: relative;
	float: left;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@font-face { 
	font-family: "crackman";
	src: url('fonts\crackman.ttf'); 
}
@font-face { 
	font-family: "vtks";
	src: url('fonts\vtks morning rain 3D.ttf'); 
}
#myName {
	color: red;
	font-size: 5em;
	font-family: "vtks","crackman", Monospace, "Times New Roman", Times, serif;
	
	
}