.container {
	/*
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	*/
}
#nameText{
	position: relative;
	float: left;
	top: 30%;
	left: 10%;
	/* transform: translate(-50%, -50%); */
}
#button{
	position: relative;
	float: left;
	top: 60%;
	left: 0%;
	/* transform: translate(0%, -50%); */
}
/*
@font-face { 
	font-family: "crackman";
	src: url('fonts\crackman.ttf'); 
}
*/
#myName {
	color: red;
	font-size: 5em;
	font-family: Monospace, "Times New Roman", Times, serif;
	
	
}